img{
    width: 40vw;
    height: 80vh;
    margin-top: 15%;
}

.container{
    display: flex;
    flex: 1;
}

.back-arrow{
    margin: 50px 0 50px 70px;
}
.signup-form{
    margin: 5% 65%;
    width: 100%;
}
.signup-title{
    font-size: xx-large;
    font-weight: 700;
    margin: 20px 0;
}
.signup-detail-text{
    color: #999999;
    margin: 5px;
    font-weight: 700;
}
.signup-detail-input{
    margin: 5px;
    border: 1px solid #999999;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 0 10px;
}
.signup-btn{
    padding: 10px 30px;
    background-color: #5BC0F8;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-weight: 100;
    margin: 5px 80px;
}